#massage{
    width: 50%;
    margin-left: 20%;
}
#img{
    width: 5%;
}
#img{
    width: 20%;
    position: absolute;
    margin-left: -63%;
    margin-top: 7%;
}
#img1{
    width: 20%;
    position: absolute;
    margin-left: 18%;
    margin-top: 10%;
   
}
input[type=text]{
    font-size: large;
  }
#form__input {
  
   width: 25%;
   height: 50px;
   margin: 1%;
   margin-left: 35%;

  }
  button {
    width: 10%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
.user-area, .chatbot-area {
    width: 20%;
    height: calc(100vh - 60px);
    margin-right: 15px;
    display: flex;
    align-items: center;
    position: fixed;
    left: 80px;
    z-index: 99999;
}
.chatbot-area {
    float: right;
    right: 80px;
    left: auto;
}
.user-area img, .chatbot-area img {
    width: 100%;
}
.user-area img{left: 0;}
.chatarea-main {
    width: 42%;
    margin: 0 auto;
}
.chatarea-outer {
    width: 100%;
    float: left;
}
.chatbot-area .chatarea-main{float: left;}
.chatarea.user {
    float: right;
    width: 40%;
    padding: 20px 0;
}

.chatarea-inner {
    float: left;
    width: 60%;
    padding: 10px;
    color: #fff;
    position: relative;
    margin: 5px 0;
}
.chatarea-inner.user{
    background: #f85312;
}
.chatarea-inner.chatbot{
    background: #05a127;
    float: right;
}

.chatarea-inner.btn{
    background: #05a127;
    float: right;
}
.chatarea-inner.user:before {
    content: '';
    position: absolute;
    border-right: 20px solid #f85312;
    border-top: 20px solid transparent;
    border-bottom: 0px solid transparent;
    bottom: 0;
    left: -20px;
}
.chatarea-inner.chatbot:before {
    content: '';
    position: absolute;
    border-left: 20px solid #05a127;
    border-top: 20px solid transparent;
    border-bottom: 0px solid transparent;
    bottom: 0;
    right: -20px;
}

.chatbot-area .chatarea-inner{float: left;}
